:root,
 #background {
background: rgb(16, 14, 27) !important;
 }

:root.left tab-item tab-twisty {
  order: 10;
}
:root.left tab-item tab-closebox {
  order: -1;
}
:root.left tab-item tab-favicon {
  order: 100;
  margin-inline: 1.1em;
}
#tabbar:hover tab-item tab-item-substance tab-favicon {
  margin-left: 0.2em;
}
